auto-save-list/*
auto-save-list/.saves-14589-ubuntu~
auto-save-list/.saves-2896-ubuntu~
auto-save-list/.saves-3322-ubuntu~
auto-save-list/.saves-3670-ubuntu~
auto-save-list/.saves-4589-ubuntu~
auto-save-list/.saves-4732-ubuntu~
